@model EcommerceApp.Models.Product;
@{
    ViewData["Title"] = "Product deletion";
}
<div class="container">
    <div class="row justify-content-center">
        <form asp-action="DeleteProduct" asp-route-id="@Model.Id">
            <caption class="text-center">Details for @Model.Name</caption>
            <div class="form-group justify-content-center text-center">
                <img src="@Model.ImageUrl" style="width:200px;height:200px;" />
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="add1">Id</span>
                </div>
                <input aria-describedby="add1" placeholder="@Model.Id" class="form-control" readonly />
            </div>
            <div class="input-group mb-1">
                <span class="input-group-text" id="add2">Name</span>
                <input aria-describedby="add2" placeholder="@Model.Name" aria-label="@Model.Name" class="form-control" readonly />
            </div>
            <div class="input-group mb-1">
                <span class="input-group-text" id="add3">Description</span>
                <input aria-describedby="add4" placeholder="@Model.Description" aria-label="@Model.Description" class="form-control" readonly />
            </div>
            <div class="input-group mb-1">
                <span class="input-group-text" id="add4">Image URL</span>
                <input aria-describedby="add4" placeholder="@Model.ImageUrl" aria-label="@Model.ImageUrl" class="form-control" readonly />
            </div>
            <div class="input-group mb-1">
                <span class="input-group-text" id="add5">$</span>
                <input aria-describedby="add5" placeholder="@Model.Price" aria-label="@Model.Price" class="form-control" readonly />
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="add5=6">Creation Time</span>
                <input aria-describedby="add6" placeholder="@Model.CreatedAt" aria-label="@Model.CreatedAt" class="form-control" readonly />
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="add5=6">Product Color</span>
                <input aria-describedby="add6" placeholder="@Model.Color" aria-label="@Model.Color" class="form-control" readonly />
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="add5=6">Product width</span>
                <input aria-describedby="add6" placeholder="@Model.Width" aria-label="@Model.Width" class="form-control" readonly />
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="add5=6">Product Height</span>
                <input aria-describedby="add6" placeholder="@Model.Height" aria-label="@Model.Height" class="form-control" readonly />
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="add5=6">Product Length</span>
                <input aria-describedby="add6" placeholder="@Model.Length" aria-label="@Model.Length" class="form-control" readonly />
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="add5=6">Product Weight</span>
                <input aria-describedby="add6" placeholder="@Model.Weight" aria-label="@Model.Weight" class="form-control" readonly />
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="add5=6">Product Material</span>
                <input aria-describedby="add6" placeholder="@Model.Material" aria-label="@Model.Material" class="form-control" readonly />
            </div>
            <button class="btn btn-danger" type="submit">Delete</button>
            <button class="btn btn-outline-secondary" type="submit" asp-action="Index">Go Back</button>
        </form>
    </div>
</div>