@model EcommerceApp.ViewModels.ProductDetailsVM; 
@*Get products and categories assigned to them  *@
@*Get viewbag reviews assigned to product*@
@{
    ViewData["Title"] = "Product Details";
}
@{
    var product = Model.Product;
    var similarProducts = Model.SimilarProducts;
}



<div class="container text-center">
    <div class="row">
        <p class="text-sm" style="font-family:Courier New;float:left;">Here will be categories assigned to product</p>
    </div>
    <div class="row">
        @*First column*@
        <div class="col-md-4 rounded-circle">
            <div id="zoomOnHover" class="card text-center">
                <div class="sticky-top">
                    <img class="img-fluid" src="@product.ImageUrl" style="height:50vh;" alt="@product.Name">
                </div>
            </div>
        </div>
        @*Second Column*@
        <div class="col-md-4 offset-md-1 border rounded ">
            <div class="row">
                <h3>@product.Name</h3>
            </div>
            <div class="row border-top">
                <p><b>Ilosc w magazynie:</b><a>TODO</a></p>
                <!-- TODO Quantity for product -->
                <!-- If user selects more than we have, it could be a problem -->
            </div>
            <div class="row border-top text-left">
                <p><b>Description: </b><a class="text-muted text-decoration-none">@product.Description</a></p>
                <p><b>Dimensions: </b> <a class="text-muted text-decoration-none">@product.Width cm x @product.Height cm x @product.Length cm</a> </p>
                <p><b>Weight: </b> <a class="text-muted text-decoration-none">@product.Weight kg</a> </p>
                <p><b>Color: </b> <a class="text-muted text-decoration-none">@product.Color</a> </p>
                <p><b>Material: </b><a class="text-muted text-decoration-none">@product.Material</a> </p>
            </div>
            <button class="btn btn-primary mb-2" type="button" data-toggle="collapse" data-target="#more-info" id="btnInfo">More Info</button>
            <div id="more-info" class="collapse">
                <h5>Informacje o produkcie</h5>
                <p>Lorem ipsum here because here will be information about this product</p>
                <h5>Informacje o produkcie</h5>
                <p>Lorem ipsum here because here will be information about this product</p>
                <h5>Informacje o produkcie</h5>
                <p>Lorem ipsum here because here will be information about this product</p>
                <h5>Informacje o produkcie</h5>
                <p>Lorem ipsum here because here will be information about this product</p>
                <h5>Informacje o produkcie</h5>
                <p>Lorem ipsum here because here will be information about this product</p>
                <h5>Informacje o produkcie</h5>
                <p>Lorem ipsum here because here will be information about this product</p>
                <h5>Informacje o produkcie</h5>
                <p>Lorem ipsum here because here will be information about this product</p>
            </div>
        </div>
        @*Third Column*@
        <div class="col-md-2 offset-md-1 border rounded ml-auto">
            <div class="row">
                <h5 class="m-1" style="float:left;">@product.Price $</h5>
            </div>
            <div class="row">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Quantity
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @for (int i = 1; i <= 10; i++)
                        {
                            <a class="dropdown-item" href="#">@i</a>
                        }
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="column">
                    <div class="d-inline-flex flex-column mb-3">
                        <button type="submit" class="btn btn-warning m-1">Dodaj do koszyka</button>
                        <button type="submit" class="btn btn-outline-primary m-1">Kup teraz</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="mt-2"style="font-style:italic;">Aby uzyskać informacje o zwrotach, kliknij w nazwe sprzedawcy</p>
            </div>
        </div>
    </div>
    @*Similar Products*@
    <div class="row border-top align-items-center mt-3">
        <h4>Similar products</h4>
        <div class="align-items-start">
            @foreach(var item in similarProducts)
            {
                <img style="max-height:15vh;max-width:20vh;" class="card-img mr-3" src="@item.ImageUrl" id="similarProduct">
            }
        </div>
    </div>
    @*Reviews*@
    <div class="row border-top mt-3 border rounded">
        <div class="col-md-3">
            <h5>Already bought this product? Click to add a review!</h5>
            <h6 class="border-right">Only you know what to tell others about this product!</h6>
            <form asp-controller="Review" asp-action="Create" asp-route-id="@product.Id">
                <button type="submit" class="btn btn-outline-primary mb-2">Submit Review</button>
            </form>
        </div>
        <div class="col-9 col-md-9">
            @if (product.Reviews != null)
            {
                @foreach (var review in product.Reviews)
                {
                    <div class="row mt-2">
                        <div class="col-2 col-md-2 border-bottom border-right">
                            @*svg icon? to every user*@
                            <b>User: @review.User.FirstName</b>
                            <p>Rating: @review.Rating</p>
                        </div>
                        <div class="col-10 col-md-10 border-bottom text-black">
                            <div class="row">
                                <div class="col-12 col-md-2">
                                    Review text:
                                </div>
                                <div class="col-12 col-md-10 text-muted">
                                    '@review.Text'
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

</div>

<script>
    $('#btnInfo').click(function () {
        $('.collapse').toggle();
    });
    $('#quantityBtn').click(function () {
        $('.collapse').toggle();
    });
    
</script>