@model Product
@{
    ViewData["Title"] = "Product Details";
}


<div class="container text-center">
    <div class="row">
        <p class="text-sm" style="font-family:Courier New;float:left;">Here will be categories assigned to product</p>
    </div>
    <div class="row">
        @*First column*@
        <div class="col-md-4 rounded-circle">
            <div id="zoomOnHover" class="card text-center">
                <div class="sticky-top">
                    <img style="max-width:300px; max-height:300px;justify-content:center" src="@Model.ImageUrl" class="card-img-top" alt="@Model.Name">
                </div>
            </div>
        </div>
        @*Second Column*@
        <div class="col-md-4 offset-md-1 border rounded ">
            <div class="row">
                <h3>@Model.Name</h3>
            </div>
            <div class="row border-top">
                <p><b>Ilosc w magazynie:</b><a>TODO</a></p>
                @*TODO Quantity for product*@
                @*If user select more than We have == problem*@
            </div>
            <div class="row border-top text-left">
                <p><b>Opis: </b><a>@Model.Description</a></p>
                <p><b>Marka: </b><a>TODO</a></p>
                <p><b>Przedział wiekowy: </b> <a>TODO</a></p>
                <p><b>Wymiary produktu: </b> <a>TODO</a></p>
                <p><b>Waga produktu:: </b> <a>TODO</a></p>
                <p><b>Kolor: </b> <a>TODO</a></p>
            </div>
            <b>TODO BUTTON LATER below</b>
            <button class="btn btn-primary mb-2" type="button" data-toggle="collapse" data-target="#more-info">More Info</button>
            <div id="more-info" class="collapse">
                <h5>Informacje o produkcie</h5>
                Lorem ipsum here because here will be information about this product<h5>Informacje o produkcie</h5>
                Lorem ipsum here because here will be information about this product<h5>Informacje o produkcie</h5>
                Lorem ipsum here because here will be information about this product<h5>Informacje o produkcie</h5>
                Lorem ipsum here because here will be information about this product<h5>Informacje o produkcie</h5>
                Lorem ipsum here because here will be information about this product<h5>Informacje o produkcie</h5>
                Lorem ipsum here because here will be information about this product<h5>Informacje o produkcie</h5>
                Lorem ipsum here because here will be information about this product
            </div>
        </div>
        @*Third Column*@
        <div class="col-md-2 offset-md-1 border rounded ml-auto">
            <div class="row">
                <h5 class="m-1" style="float:left;">@Model.Price $</h5>
            </div>
            <div class="row">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Quantity
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        @for (int i = 1; i <= 10; i++)
                        {
                            <a class="dropdown-item" href="#"> @i</a>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="d-inline-flex flex-column mb-3">
                        <button type="submit" class="btn btn-warning m-1">Dodaj do koszyka</button>
                        <button type="submit" class="btn btn-outline-primary m-1">Kup teraz</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="mt-2"style="font-style:italic;">Aby uzyskać informacje o zwrotach, kliknij w nazwe sprzedawcy</p>
            </div>
        </div>
    </div>
    @*Similar Products*@
    <div class="row border-top align-items-center mt-3">
        <h3>Here we will have  similar products</h3>
        <h5>To the product that we have </h5>
        <h7>To category that he is assigned to </h7>
        <div class="align-items-start">
            @for(int i=0;i<9;i++)
            {
                <img style="max-height:100px;max-width:100px;" class="card-img mr-3" src="https://images.pexels.com/photos/3184306/pexels-photo-3184306.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
            }
        </div>
    </div>
    @*Reviews*@
    <div class="row border-top mt-3 border rounded">
        <div class="col-md-3">
            <h5>Already bought this product? Click to add review!</h5>
            <h6 class="border-right">Only you know what to tell others about this product!</h6>
            <form asp-controller="Review" asp-action="Create" asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-outline-primary mb-2">Sumbit Review</button>
            </form>
        </div>
        <div class="col-9 col-md-9">
            <div class="row">
                <div class="col-12">
                    Here -> count avrg review && how much stars here below or up xD
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-2 col-md-2 border-bottom border-right"> @*svg icon? to every user*@
                    <b> User 1 : his rating</b>
                </div>
                <div class="col-10 col-md-10 border-bottom">
                    His review
                </div>
                <div class="col-2 col-md-2">
                    <b> User 2 : his rating</b>
                </div>
                <div class="col-10 col-md-10">
                    His review
                </div>
            </div>
        </div>
    </div>
</div>