@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
}

<h1>Product</h1>

<form method="post" asp-controller="Product" asp-action="Create">
    <button class="btn btn-success" type="submit">Create Product</button>
</form>


<table class="table table-striped">
    <caption>All Products</caption>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">@Html.DisplayFor(model => item.Id)</td>
                    <td class="align-middle">@Html.DisplayFor(model => item.Name)</td>
                    <td class="align-middle">@Html.DisplayFor(model => item.Description)</td>
                    <td><a href="@Html.DisplayFor(m => item.ImageUrl)" target="_blank">link</a></td>
                    <td class="align-middle">@Html.DisplayFor(model => item.Price)$</td>
                    <td class="align-middle">@Html.DisplayFor(model => item.CreatedAt)</td>
                    <td class="align-middle"><a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                    <td class="align-middle"><a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                    <td class="align-middle"><a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                </tr>
            }
    </tbody>
</table>