@*To sort product via category name and print cateogires*@
@*Add to categories imageUrl and print all names of categories with images in home site*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="sticky-top" style="top: 20px;">
                <h3>Categories</h3>
                <ul class="list-group">
                @foreach(var item in ViewBag.Categories)
                {
                    <li class="list-group-item"><a asp-controller="Category" asp-action="SearchCategoryProduct" style="text-decoration:none; color: #212529;">@item.Name</a></li>
                    @*href to every category that has product*@
                }
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="jumbotron align-content-center text-center text-black mb-3" style="background-image: url(https://media.discordapp.net/attachments/955938238965641246/1106990754980704369/sale_copy.jpg?width=1440&height=504);">
                    <h1 class="display-4">Witaj na EcommerceApp!</h1>
                    <p class="lead">Już teraz wybierz odpowiednie dla siebie produkty!</p>
                    <hr class="my-4">
                    <p>Sprawdź kto wykonał ten projekt poniżej </p>
                    <p class="lead">
                        <a class="btn btn-secondary btn-lg" href="#" role="button">Portfolio</a>
                    </p>
                </div>
            </div>
                <div class="row">
                    @foreach (var item in ViewBag.Products)
                    {
                        <div class="col-12 col-md-4 mb-4 justify-content-between">
                            <div class="card h-100">
                                <div class="card-header">
                                    Category Name
                                </div>
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
                                    <img src="@item.ImageUrl" alt="@item.Description" class="card-img-top" />
                                </a>
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" style="text-decoration:none;">
                                    <div class="card-body">
                                        <h6 class="card-title">@item.Name</h6>
                                        <h7 class="card-subtitle mb-2 text-muted">@item.Description</h7>
                                        <p class="card-text">@item.Price.ToString("C")</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
        </div>
    </div>
</div>
<script>
    const liItems = document.querySelectorAll('li');

    liItems.forEach(item => {
        item.addEventListener('mouseover', () => {
            item.classList.add('active');
            item.lastChild.style.color = 'white';
        });
        item.addEventListener('mouseout', () => {
            item.classList.remove('active');
            item.lastChild.style.color = '#212529';
        });
    });

</script>